body{
  font-weight: 300 !important;
  background: rgb(36, 36, 36);
  font-family: 'Viga', sans-serif !important;
}
.hero{
  background: url(./media/Background_Desktop.jpg);
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  width: 90%;
  height: 60vh;
}
.logo{
  padding: 20px;
}

.main-content{
}

.main-text{
  color:white;
  margin: auto;
  position: absolute;
  top: 32%;
  left: 90px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.second-text{
  color:white;
  font-size: 14px;
  margin: auto;
  position: absolute;
  top: 75%;  
  left: 95px;
  height: 70%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.second-text > span{
  font-size: 13px;
  font-weight: 100;
}
.btn-cta{
  color:white;
  font-size: 14px;
  margin: auto;
  position: absolute;
  top: 85%;  
  left: 100px;
  height: 75%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.car-insurance{
  margin-top:20px !important;
  background: white;
  display: block;
  
  margin: auto;
  width: 90%;
  height: 60vh;
  border: rgb(255, 255, 255) solid ;
  border-radius: 10px;
}
.title > h3{
  font-size: 1.7rem;
  padding: 25px;
  text-align: center;
  margin:auto;
  color: #00a3e9;
}
.car-insurance > img{
  height:100px;
}

.img-center{
  position: absolute;
   left: 50%;
   top: 85%;
   -webkit-transform: translateY(-50%) translateX(-50%);
}
.car-insurance > p{
  width: 70%;
  position: absolute;
   left: 50%;
   top: 98%;
   -webkit-transform: translateY(-50%) translateX(-50%);
   font-size: 1.0em;
   padding: 10px;
   text-align: center;
   margin:auto;
   color: #00a3e9;
}
.car-insurance > span{
  width: 80%;
  position: absolute;
   left: 50%;
   top: 105%;
   -webkit-transform: translateY(-50%) translateX(-50%);
   font-size: 1.0em;
   padding: 0px;
   text-align: center;
   margin:auto;
   color: #303030;
}

.car-insurance > a{
  width: 80%;
  position: absolute;
   left: 50%;
   top: 115%;
   -webkit-transform: translateY(-50%) translateX(-50%);
  
   text-align: center;
   
}


.car-insurance-two{
  margin-top:20px !important;
  background: white;
  display: block;  
  margin: auto;
  width: 90%;
  height: auto;
  border: rgb(255, 255, 255) solid ;
  border-radius: 10px;
}

.msm{
  position: absolute;
  margin: 30px auto;
}
.box >p{
  font-weight: 100;
  color: #9c9c9c !important;
}

hr{
  border:none;
  border-bottom: 1px  #b3b3b375 solid;
}
#line{
  display:table;
  margin:0 auto;
  color:#00a3e9;
}
.boxes-main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box{  
  height: auto;
  width: 300px;
  margin: 30px;
  background: white;
  padding: 10px;
  border: #3a393975 solid 2px;
  border-radius: 10px;
}
.box>.info{
  margin-top: 30px;
}
.move{
  margin-left: 20px;
}

.boxes-main >.box >p{
  font-weight: 100;
  color: #3a393975;
}

 .third-btn {
  text-align: center;
    display: block;
    margin: 20px auto;
}

a:hover{
 cursor: pointer !important;
}

.footer{
  color:white;
  margin-top:20px !important;
  background:  rgb(109, 120, 128)  ;
  display: block;  
  margin: auto;
  width: 90%;
  height: auto;
  border-radius: 10px;
  padding-bottom: 20px;
  
}
.icons{
  padding: 30px;
  display: inline-block;
}
.icons >h3 a> img{
  height: 30px;
}


.a-icon{  margin-top:30px;
  border-right: white 1px solid;
  padding-left: 10px;
  padding-right: 10px;

}
.an-icon{  margin-top:30px;
  padding-left: 10px;
}

.hr2{
  width: 96%;
  border:none;
  border-bottom: 1px  #ffffff solid;
}
.info-footer{
  margin: 20px;
  width: 80%;
}